.avatar{
    display: flex;
    height: var(--height-avatar);
    align-items: center;
}

.my-avatar{
    height: 220px;
    width: 180px;
    border-radius: 50%;
    margin: auto;
    object-fit: cover;
}